{
    "inbound_rules": [
        {
            "action": "allow",
            "src_selector": "calico/k8s_ns == '${K8S_NAMESPACE}'",
            "dst_tag": "${SECGROUP_ID}"
        },
        {
            "action": "allow",
            "src_tag": "${SECGROUP_ID}",
            "dst_selector": "calico/k8s_ns == '${K8S_NAMESPACE}'"
        }

    ],
    "order": 1000,
    "selector": ""
}
